.compendium-check-box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 4px 15px;
    border: 0px solid transparent;
    border-radius: 8px;

    color: #e9d7a1;

    background-color: #292731;

    transition: background-color 0.1s ease-in-out;
}
.compendium-check-box.Selected {
    color: #ffffff;

    background-color:#5C1015;
    box-shadow: 0 0 0 1px #e9d7a1, 0 0 0 2px #9f725b, inset 0 0 4px rgba(0, 0, 0, 0.25), 0 0 8px #e9d7a1;
}